.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #fff;
    margin-bottom: 30px;
}

  .chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
  }

  .chat__name {
    position: absolute;
    top: -15px;
    font-weight: 700;
    font-size: x-small; 

  }

  .chat__receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}


  .chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
  }

  .chat img {
    width: 50px; /* Size of the avatar */
    height: 50px; /* Ensures the avatar is square */
    border-radius: 50%; /* Makes the avatar circular */
    margin-right: 15px; /* Space between the avatar and the text */
  }

 
.chat__headerInfo {
    flex: 1;
    padding-left: 20px ;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p{
    color: grey;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    flex: 1;
   background-image:url("https://i.pinimg.com/564x/62/40/b6/6240b66d5c50c8661eee78b439a7d33c.jpg") ;
   background-repeat:repeat;
   background-position: center;
   padding: 30px;
   overflow: scroll;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgrey;


}

.chat__footer > form {
    flex: 1;
    display: flex;
    padding: 10px;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 15px;
    border: none;
}

.chat__footer > form > button {
    display: none;

}

.chat__footer > .MuiSvgIcon-root {
    padding: 15px;
    color: gray;
}